-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "User" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Favourites" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "wallpaperId" BIGINT NOT NULL,
    "imageUrl" TEXT NOT NULL,
    "photographer" TEXT NOT NULL,

    CONSTRAINT "Favourites_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WallpaperStats" (
    "id" SERIAL NOT NULL,
    "wallpaperId" TEXT NOT NULL,
    "views" INTEGER NOT NULL DEFAULT 0,
    "downloads" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WallpaperStats_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WallpaperDownload" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "wallpaperId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "imageUrl" TEXT,
    "photographer" TEXT NOT NULL,

    CONSTRAINT "WallpaperDownload_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Favourites_userId_wallpaperId_key" ON "Favourites"("userId", "wallpaperId");

-- CreateIndex
CREATE UNIQUE INDEX "WallpaperStats_wallpaperId_key" ON "WallpaperStats"("wallpaperId");

-- CreateIndex
CREATE INDEX "WallpaperDownload_userId_idx" ON "WallpaperDownload"("userId");

-- AddForeignKey
ALTER TABLE "Favourites" ADD CONSTRAINT "Favourites_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WallpaperDownload" ADD CONSTRAINT "WallpaperDownload_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

